[user]
	name = Kauê Sabino Villaça de Almeida
	email = kauevillaca2018@gmail.com
[pull]
	rebase = false
[init]
	defaultBranch = main
[credential]
	helper = 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
[core]
	editor = lvim
